@media (min-width: 360px) {
    .demo-wrap {
        background: transparent
    }
}

@media (min-width: 768px) {
    .demo-wrap {
        background: #EDF3FC
    }
}

@media (min-width: 320px) {
    .demo-wrap .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width: 768px) {
    .demo-wrap .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .demo-wrap .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .demo-wrap .container {
        max-width: 1192px
    }
}

.demo-wrap .demo-wrap-inner {
    display: grid;
    column-gap: 55px
}

@media (min-width: 360px) {
    .demo-wrap .demo-wrap-inner {
        display: block
    }
}

@media (min-width: 768px) {
    .demo-wrap .demo-wrap-inner {
        display: grid;
        grid-template-columns:300px calc(100% - 355px)
    }
}

@media (min-width: 992px) {
    .demo-wrap .demo-wrap-inner {
        grid-template-columns:426px calc(100% - 481px)
    }
}

.demo-wrap .demo-wrap-inner figure {
    margin: 0;
    align-self: flex-end
}

.demo-wrap .demo-wrap-inner figure > img {
    width: 426px;
    height: auto
}

@media (min-width: 360px) {
    .demo-wrap .demo-wrap-inner figure > img {
        width: 307px;
        margin: 0 auto;
        display: block
    }
}

@media (min-width: 768px) {
    .demo-wrap .demo-wrap-inner figure > img {
        width: 300px;
        margin: 0;
        display: block
    }
}

@media (min-width: 992px) {
    .demo-wrap .demo-wrap-inner figure > img {
        width: 426px;
        margin: 0;
        display: block
    }
}

@media (min-width: 360px) {
    .demo-wrap .demo-wrap-inner .demo-wrap-content {
        background: #EDF3FC;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 24px;
        padding-right: 24px
    }
}

@media (min-width: 768px) {
    .demo-wrap .demo-wrap-inner .demo-wrap-content {
        background: transparent;
        padding-top: 44px;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0
    }
}

.footer-dark-area {
    background: #1B293D
}

@media (min-width: 320px) {
    .footer-dark-area {
        padding: 32px 0 32px 0
    }
}

@media (min-width: 768px) {
    .footer-dark-area {
        padding: 75px 0 39px 0
    }
}

.footer-dark-area .footer-dark-top {
    display: grid;
    grid-template-columns:580px 465px;
    padding-bottom: 73px;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(244, 246, 249, 0.1)
}

@media (min-width: 320px) {
    .footer-dark-area .footer-dark-top {
        display: block;
        margin-bottom: 32px;
        padding-bottom: 32px
    }
}

@media (min-width: 768px) {
    .footer-dark-area .footer-dark-top {
        display: grid;
        grid-template-columns:304px 465px;
        margin-bottom: 35px;
        padding-bottom: 72px
    }
}

@media (min-width: 992px) {
    .footer-dark-area .footer-dark-top {
        display: grid;
        grid-template-columns:420px 465px;
        margin-bottom: 35px
    }
}

@media (min-width: 1200px) {
    .footer-dark-area .footer-dark-top {
        grid-template-columns:580px 465px
    }
}

.footer-dark-area .footer-dark-top .footer-about .footer-logo {
    display: block
}

@media (min-width: 320px) {
    .footer-dark-area .footer-dark-top .footer-about .footer-logo {
        margin-bottom: 32px
    }
}

@media (min-width: 768px) {
    .footer-dark-area .footer-dark-top .footer-about .footer-logo {
        margin-bottom: 38px
    }
}

@media (min-width: 320px) {
    .footer-dark-area .footer-dark-top .footer-about .footer-app-area {
        margin-bottom: 72px
    }
}

@media (min-width: 768px) {
    .footer-dark-area .footer-dark-top .footer-about .footer-app-area {
        margin-bottom: 0px
    }
}

.footer-dark-area .footer-dark-top .footer-app-area h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    color: #ffffff
}

.footer-dark-area .footer-dark-top .footer-app-area ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex
}

.footer-dark-area .footer-dark-top .footer-app-area ul li {
    margin-right: 14px
}

.footer-dark-area .footer-dark-top .footer-links {
    display: grid
}

@media (min-width: 320px) {
    .footer-dark-area .footer-dark-top .footer-links {
        grid-template-columns:50% 50%
    }
}

@media (min-width: 768px) {
    .footer-dark-area .footer-dark-top .footer-links {
        grid-template-columns:130px 130px 147px
    }
}

@media (min-width: 992px) {
    .footer-dark-area .footer-dark-top .footer-links {
        grid-template-columns:170px 170px 170px
    }
}

@media (min-width: 320px) {
    .footer-dark-area .footer-dark-top .footer-links .footer-col-contact {
        grid-column: 1 / span 2
    }
}

@media (min-width: 768px) {
    .footer-dark-area .footer-dark-top .footer-links .footer-col-contact {
        grid-column: auto
    }
}

.footer-dark-area .footer-dark-top .footer-links h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    color: #ffffff
}

.footer-dark-area .footer-dark-top .footer-links .footer-question {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #C2DAFF
}

.footer-dark-area .footer-dark-top .footer-links .footer-question span {
    display: block
}

.footer-dark-area .footer-dark-top .footer-links .tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
    color: #C2DAFF
}

.footer-dark-area .footer-dark-top .footer-links .tel:hover span {
    cursor: pointer;
    color: #fff
}

@media (min-width: 320px) {
    .footer-dark-area .footer-dark-top .footer-links .tel {
        margin-bottom: 20px
    }
}

.footer-dark-area .footer-dark-top .footer-links .tel span {
    display: block
}

.footer-dark-area .footer-dark-top .footer-links .tel a {
    color: #347576
}

.footer-dark-area .footer-dark-top .footer-links .tel a:hover {
    cursor: pointer;
    color: #fff
}

.footer-dark-area .footer-dark-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.footer-dark-area .footer-dark-top .footer-links ul li {
    margin-bottom: 9px;
    line-height: 21px
}

@media (min-width: 320px) {
    .footer-dark-area .footer-dark-top .footer-links ul li {
        margin-bottom: 20px
    }
}

@media (min-width: 768px) {
    .footer-dark-area .footer-dark-top .footer-links ul li {
        margin-bottom: 9px
    }
}

.footer-dark-area .footer-dark-top .footer-links ul li a {
    font-weight: 400;
    font-size: 14px;
    color: #C2DAFF;
    text-decoration: none
}

.footer-dark-area .footer-dark-top .footer-links ul li a:hover {
    color: #fff;
    cursor: pointer
}

.footer-dark-area .footer-dark-bot {
    display: grid;
    grid-template-columns:50% 50%;
    justify-content: space-between
}

.footer-dark-area .footer-dark-bot .footer-copyright ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap
}

.footer-dark-area .footer-dark-bot .footer-copyright ul li {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #C2DAFF;
    padding-right: 10px
}

.footer-dark-area .footer-dark-bot .footer-copyright ul li.hcloud-text:hover {
    color: #C2DAFF;
    cursor: unset
}

@media (min-width: 320px) {
    .footer-dark-area .footer-dark-bot .footer-copyright ul li:nth-child(1) {
        width: 100%;
        margin-bottom: 21px;
        padding-right: 0
    }
}

@media (min-width: 768px) {
    .footer-dark-area .footer-dark-bot .footer-copyright ul li:nth-child(1) {
        width: auto;
        padding-right: 10px
    }
}

.footer-dark-area .footer-dark-bot .footer-copyright ul li a {
    color: #C2DAFF;
    text-decoration: none
}

.footer-dark-area .footer-dark-bot .footer-copyright ul li a:hover {
    cursor: pointer;
    color: #fff
}

.footer-dark-area .footer-dark-bot .footer-copyright ul li:hover {
    cursor: pointer;
    color: #fff
}

.footer-dark-area .footer-dark-bot .footer-social-links {
    justify-self: flex-end
}

.footer-dark-area .footer-dark-bot .footer-social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex
}

.footer-dark-area .footer-dark-bot .footer-social-links ul li {
    margin-left: 15px
}

.footer-dark-area .footer-dark-bot .footer-social-links ul li a svg:hover {
    fill: #11438F
}

.form-area .cols {
    height: 61px;
    position: relative
}

.form-area .text-danger {
    position: absolute;
    top: 58px
}

.form-area ::placeholder {
    color: #121314
}

@media (min-width: 320px) {
    .form-area {
        display: grid;
        grid-template-columns:100%;
        max-width: 540px;
        gap: 15px 0;
        margin: 0 auto
    }
}

@media (min-width: 1200px) {
    .form-area {
        display: grid;
        grid-template-columns:328px 328px;
        gap: 14px 16px;
        max-width: 100%;
        max-width: auto;
        margin: 0
    }
}

@media (min-width: 320px) {
    .form-area .button {
        margin-top: 0px
    }
}

@media (min-width: 768px) {
    .form-area .button {
        margin-top: 16px
    }
}

.form-area .button:hover {
    background: #243652;
    color: #FFFFFF
}

.demo-wrap-content h3 {
    width: 381px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-transform: capitalize;
    color: #121314;
    margin-bottom: 32px
}

@media (min-width: 320px) {
    .demo-wrap-content h3 {
        max-width: 540px;
        margin: 0 auto 32px;
        width: 100%
    }
}

@media (min-width: 768px) {
    .demo-wrap-content h3 {
        width: 381px;
        max-width: auto;
        margin: 0 0 32px;
        padding-left: 0;
        padding-right: 0
    }
}

.input-field {
    border: 0;
    width: 100%;
    padding: 0px 16px;
    border-radius: 4px;
    background: #fff
}

@media (min-width: 768px) {
    .input-field {
        width: 100%
    }
}

.input-field label {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7A7E83;
    display: block;
    margin:0px
}

.input-field select.input-city-select {
    width: 100%;
    padding: 1px;
    background: white;
    border: unset
}

.input-field input[type="text"], .input-field input[type="email"], .input-field input[type="number"], .input-field input[type="tel"], .input-field textarea {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 0;
    color: #121314;
    display: block;
    width: 100%
}

.input-field input[type="text"]:focus, .input-field input[type="email"]:focus, .input-field input[type="number"]:focus, .input-field input[type="tel"]:focus, .input-field textarea:focus {
    border: 0;
    outline: none
}

.input-field input[type="text"]:focus::placeholder, .input-field input[type="email"]:focus::placeholder, .input-field input[type="number"]:focus::placeholder, .input-field input[type="tel"]:focus::placeholder, .input-field textarea:focus::placeholder {
    color: transparent
}

.input-field input[type="text"]::placeholder, .input-field input[type="email"]::placeholder, .input-field input[type="number"]::placeholder, .input-field input[type="tel"]::placeholder, .input-field textarea::placeholder {
    color: #7A7E83 !important
}

@media (min-width: 767px) {
    .input-field input[type="text"], .input-field input[type="email"], .input-field input[type="number"], .input-field input[type="tel"], .input-field textarea {
        width: 100%
    }
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    height: 48px;
    background: #11438F;
    border-radius: 6px;
    color: #fff;
    border: 0;
    outline: none;
    margin: 0
}

.thanku-pop-section {
    position: relative
}

.thanku-pop-section .thanku-popup {
    width: 100%;
    max-width: 672px;
    background-color: #2F3135;
    padding: 24px 16px 24px 20px;
    border-radius: 2px;
    display: none;
    max-height: 72px;
    position: relative;
    top: -59px
}

@media (min-width: 320px) and (max-width: 1199px) {
    .thanku-pop-section .thanku-popup {
        width: 100%;
        padding: 15px 16px 24px 20px;
        max-height: 100px
    }
}

.thanku-pop-section .thanku-popup p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    max-width: 453px;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 16px
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
    .thanku-pop-section .thanku-popup p {
        width: 100%;
        font-size: 10px
    }
}

@media screen and (min-width: 360px) and (max-width: 1199px) {
    .thanku-pop-section .thanku-popup p {
        font-size: 10px
    }
}

.thanku-pop-section .thanku-popup .got-it-btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    margin-left: 98px
}

@media screen and (min-width: 360px) and (max-width: 1199px) {
    .thanku-pop-section .thanku-popup .got-it-btn {
        margin-left: 20px;
        min-width: 50px
    }
}

.color-red {
    color: red !important;
    font-weight: 100
}

.hide {
    display: none !important
}

.city-dropdownn .select2-container .select2-choice {
    display: inline;
    height: 30px;
    border: none;
    background: transparent;
    padding: 0px
}

.city-dropdownn .select2-container .select2-choice .select2-arrow:after {
    content: "\f107";
    font-family: FontAwesome;
    color: #7d7d7d;
    top: 2px;
    left: -12px;
    position: absolute;
    font-size: 25px
}

.city-dropdownn .select2-container .select2-choice .select2-chosen {
    width: 296px;
    max-height: 30px;
    background: #FFFFFF !important;
    border-radius: 2px
}

.city-dropdownn .select2-container .select2-choice .select2-drop.select2-drop-active {
    border: 1px solid #fafafa;
    border-top: 0;
    background: #FFFFFF !important;
    box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13) !important;
    border-radius: 2px
}

.city-dropdownn .select2-drop.select2-drop-active {
    border: 1px solid #fafafa;
    border-top: 0;
    background: #FFFFFF;
    box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13) !important;
    border-radius: 2px
}

.city-dropdownn .select2-container .select2-choice .select2-arrow {
    display: none
}

.city-dropdownn .select2-container .select2-choice > .select2-chosen {
    margin-right: 0px
}
